@{
    Layout = "~/views/template/base.cshtml";
}


@section title{
    @RenderSection("title", false)
}

@section head{
<link href="~/Css/skin-blue.min.css" rel="stylesheet" />
}


@section body{






<header class="main-header">
    <a href="#" class="logo">
        <!-- LOGO -->
       <b>OM</b>System
    </a>

    <nav class="navbar navbar-static-top" role="navigation">      
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- Messages: style can be found in dropdown.less-->
                <li class="dropdown messages-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">                   
                        <i class="glyphicon glyphicon-shopping-cart"></i>
                        <span class="label label-warning">4</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">You have 4 items</li>
                        <li>
                            <!-- inner menu: contains the actual data -->
                            <ul class="menu">
                                <li>
                                    <!-- start message -->
                                    <a href="#">
                                        <div class="pull-left">
                                            <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image" />
                                        </div>
                                        <h4>
                                            Sender Name
                                            <small><i class="fa fa-clock-o"></i> 5 mins</small>
                                        </h4>
                                        <p>Message Excerpt</p>
                                    </a>
                                </li><!-- end message -->
                                ...
                            </ul>
                        </li>
                        <li class="footer"><a href="#">Into Shopping Car</a></li>
                    </ul>
                </li>
                  
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="glyphicon glyphicon-user"></i>
                        <span class="hidden-xs">User Name</span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header">
                            <img src="~/img/me.svg" width="90" height="90" class="img-circle" alt="User Image" />
                            <p>
                                User Name
                                <small>Member since Nov. 2012</small>
                            </p>
                        </li>
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="~/user/index" class="btn btn-default btn-flat">Profile</a>
                            </div>
                            <div class="pull-right">
                                <a href="~/home/signout" id="signOut" class="btn btn-default btn-flat">Sign out</a>
                            </div>
                        </li>
                    </ul>
                </li>
       
            </ul>
        </div>
    </nav>
</header>

<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="~/img/me.svg" width="45" height="45" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>Randy</p>
                <a href="#"><i class="glyphicon glyphicon-ok-circle"></i> Online</a>
            </div>
        </div>
        
        <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
            <li class="treeview">
                <a href="#">
                    <i class="glyphicon glyphicon-home"></i> <span>Product Page</span>
                </a>
           
            </li>
            <li class="treeview">
                <a href="~/user/index">
                    <i class="glyphicon glyphicon-user"></i> <span>User Profile</span> @* 密码修改，账户设置 *@
                </a>  
            </li>
            <li class="treeview">
                <a href="~/log/index">
                    <i class="glyphicon glyphicon-edit"></i>
                    <span>Log</span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="../layout/top-nav.html"><i class="fa fa-circle-o"></i> Top Navigation</a></li>
                    <li><a href="../layout/boxed.html"><i class="fa fa-circle-o"></i> Boxed</a></li>
                    <li><a href="../layout/fixed.html"><i class="fa fa-circle-o"></i> Fixed</a></li>
                    <li><a href="../layout/collapsed-sidebar.html"><i class="fa fa-circle-o"></i> Collapsed Sidebar</a></li>
                </ul>
            </li>
                 
            <li class="treeview active">
                <a href="#">
                    <i class="glyphicon glyphicon-file"></i>
                    <span>Order Manage</span>
                    <span class="label label-primary pull-right">4</span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="general.html"><i class="glyphicon glyphicon-indent-left"></i> General</a></li>
                    <li class="active"><a href="icons.html"><i class="glyphicon glyphicon-indent-left"></i> Icons</a></li>
                    <li><a href="buttons.html"><i class="glyphicon glyphicon-indent-left"></i> Buttons</a></li>
                </ul>
            </li>


        </ul>
    </section>
    <!-- /.sidebar -->
</aside>

<div class="content-wrapper" style="min-height: 900px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        @RenderSection("content_header", true)
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="nav-tabs-custom">
                    @RenderSection("content", true)
                </div>
            </div>
        </div>

    </section>
  
</div>




<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 1.0
    </div>
    <strong>Copyright © 2014-2015 <a href="#">Randy Studio</a>.</strong> All rights reserved.
</footer>

}

@section script{
    @*<script src="~/Js/utility/jquery.min.js"></script>*@
    <script>
        $(function () {
            $('body').addClass('skin-blue fixed');

        });
    </script>
}

