@{
    ViewBag.Title = "Exception";
    Layout = "~/Views/Template/dialog.cshtml";
}

@model OrderManager.Web.Models.ErrorModel

@section title {
    <h3 style="font-weight:bold">@Model.Title</h3>
}

@section Message{
    @Model.Target
    @Model.Message
}

@section buttons{
    <button id="confirm" type="button" class="btn btn-primary" data-dismiss="modal" onclick="">&nbsp; 确定 &nbsp; </button>
 
}

