@{
    ViewBag.Title = "Exception";
    Layout = "~/Views/Template/dialog.cshtml";
}

@section title {
    <h3 style="font-weight:bold">Exception</h3>
}

@section body{

Error Message

}

@section buttons{
    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="">&nbsp; OK &nbsp; </button>
    <script>

    </script>

}