@{
    Layout = "~/views/template/content.cshtml";
}


@section title{ 经销商平台 | 个人设置 }


@section content_header{

    <h1>
        个人设置
        <small>编辑</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="glyphicon glyphicon-home"></i> 主页</a></li>
        <li class="active">个人设置</li>
    </ol>
}


@section content{

<div class="row">
    <div class="col-xs-12">
        <div class="nav-tabs-custom">
            user
            <div style="height:400px;"></div>
        </div>
    </div>
</div>
   
}


@section script{
    @*<script src="~/Js/utility/jquery.min.js"></script>*@
    <script>
        $(function () {
            $("#userManager").addClass("active");
            $("#userManager .treeview-menu").attr("display", "block");
            $("#userManager .treeview-menu>li").eq(0).addClass("active");
        })
    </script>
}