@{
    Layout = "~/views/template/content.cshtml";
}


@section title{ Oreder Managerment | User Profile }


@section content_header{

    <h1>
        User Profile
        <small>a set of beautiful products</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="glyphicon glyphicon-home"></i> Home</a></li>
        <li class="active">Product</li>
    </ol>
}


@section content{

<div class="row">
    <div class="col-xs-12">
        <div class="nav-tabs-custom">
            user
            <div style="height:400px;"></div>
        </div>
    </div>
</div>
   
}