@{
    Layout = "~/views/template/content.cshtml";
}


@section title{ 经销商平台 | 留言板 }


@section content_header{

    <h1>
        <b>留言板</b>
        <small>一些建议</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/home/home"><i class="glyphicon glyphicon-home"></i> 主页</a></li>
        <li class="active">留言板</li>
    </ol>
}


@section content{

<div class="row">
    <div class="col-xs-12">
        <div class="nav-tabs-custom">
            log
            <div style="height:400px;"></div>
        </div>
    </div>
</div>
   
}

@section script{
    @*<script src="~/Js/utility/jquery.min.js"></script>*@
    <script>
        $(function () {
            $("#messageManager").addClass("active");
        })
    </script>
}