@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <title>Oreder Managerment | Log in</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <link href="~/Css/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Css/AdminLTE.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Js/plugins/iCheck/square/blue.css" rel="stylesheet" type="text/css" />
    <style>
        .bg {
            background: url('@Url.Content("~/img/photo2.png")') no-repeat top center scroll;
            background-size: cover;
            width: 100%;
            height: 100%;
            margin: 0 auto;
        }
    </style>
</head>

<body class="login-page bg">
    @*<div id="dialog_content"></div>*@
    <div class="example-modal">
        <div class="modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <h4 class="modal-title">Modal Default</h4>
                    </div>
                    <div class="modal-body">
                        <p>One fine body…</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>

    <div class="login-box" >
        <div class="login-logo">
            <a href="#"><b>Order</b>Managerment</a>
        </div><!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">Sign in to start your session</p>
            <form action="login/login" method="post">
                <div class="form-group has-feedback">
                    <input type="text" name="UserCode" class="form-control" required placeholder="User Code" />
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" name="Password" class="form-control" required placeholder="Password" />
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="checkbox icheck">
                            <label>
                                <input name="IsRememeber" id="IsRememeber" type="checkbox"> Remember Me
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <button type="submit" id="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                        <button type="button" id="exception" class="btn btn-success btn-block btn-flat">exception</button>
                    </div>
                </div>
            </form>

        </div>
    </div>

    <script src="~/Js/utility/jquery.min.js"></script>
    <script src="~/Js/bootstrap/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Js/plugins/iCheck/icheck.min.js" type="text/javascript"></script>
    <script src="~/Js/utility/master.js"></script>
    <script>
        $(function () {
            $('#IsRememeber').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional,
            });

            $('#IsRememeber').on('ifChecked', function (event) {
                $('#IsRememeber').val(true);
            });

            $('#exception').click(function () {
                createDialog("Login/Exception");
            });
        });
    </script>
</body>
</html>