@{
    Layout = "~/views/template/content.cshtml";
}


@section title{ 经销商平台 | 订单  }


@section content_header{

    <h1>
        订单列表
        <small>订单管理</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/home/home"><i class="glyphicon glyphicon-home"></i> 主页</a></li>
        <li>订单管理</li>
        <li class="active">订单列表</li>
        
    </ol>
}


@section content{


            order
            <div style="height:400px;"></div>
 
   
}


@section script{
    @*<script src="~/Js/utility/jquery.min.js"></script>*@
    <script>
        $(function () {  
            $("#orderManager").addClass("active");
            $("#orderManager .treeview-menu").attr("display", "block");
            $("#orderManager .treeview-menu>li").eq(0).addClass("active");
        })
    </script>
}